@model PROGETTO_SETTIMINALE_BE_S5_L5__Vescio_Pia_Francesca.Entity.AnagraficaEntity

@{
    ViewData["Title"] = "Create";
}


<h4 class="text-white">Inserisci Trasgressore </h4>
<hr />
<div class="row">
    <div class="col-md-4 text-white mb-3">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cognome" class="control-label"></label>
                <input asp-for="Cognome" class="form-control" />
                <span asp-validation-for="Cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Indirizzo" class="control-label"></label>
                <input asp-for="Indirizzo" class="form-control" />
                <span asp-validation-for="Indirizzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Citta" class="control-label"></label>
                <input asp-for="Citta" class="form-control" />
                <span asp-validation-for="Citta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CAP" class="control-label"></label>
                <input asp-for="CAP" class="form-control" />
                <span asp-validation-for="CAP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodiceFiscale" class="control-label">Codice Fiscale</label>
                <input asp-for="CodiceFiscale" class="form-control" />
                <span asp-validation-for="CodiceFiscale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-I my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListaTrasgressori" asp-controller="Anagrafica" class="text-white e btn btn-E">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
