html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(0,36,24);
    background: linear-gradient(90deg, rgba(0,36,24,1) 0%, rgba(9,96,121,1) 0%, rgba(0,212,255,1) 100%);
}
td,th {
    color: white
}
.cardUrl {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding: 5em;
}
.hclass {
    margin-top: 10em;
}
.btn-M {
    background-color: #5dbea3;
    color: white;
}
.btn-E {
    background-color: #dd7973;
    color: white
}
.btn-I {
    background-color: #5ADBB5;
    color: white;
}