@model PROGETTO_SETTIMINALE_BE_S5_L5__Vescio_Pia_Francesca.Entity.TipoViolazioneEntity

@{
    ViewData["Title"] = "Read";
}

<h4 class="text-white">Dettaglio Tipo di Violazione</h4>

<div class="cardUrl mb-2">
    <h4>Tipo violazione n°@Html.DisplayFor(model => model.Id) </h4>
    <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ListaTipoViolazioni" asp-controller="TipoViolazione" class="text-white btn btn-I">Back to List</a>
</div>
